<div class="question">
  <p>
    <%= @question %>
  </p>
  <p>
    -You
  </p>
</div>

<div class="answer">
  <p>
    <%= @answer %>
  </p>
  <p>
    -Your Coach
  </p>
</div>
<br>
<%= link_to 'Ask another question', ask_path %>
